@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Source+Sans+Pro:wght@200;400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.formContainer {
  color: red;
  background-color: "red";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
